WebApplicationHamtOrders/Web References/Sep.RefrencePayment/referencepayment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="urn:Foo" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="urn:Foo/literalTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:Foo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:Foo/literalTypes">
      <s:element name="double" type="s:double" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="verifyTransactionSoapIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyTransactionSoapOut">
    <wsdl:part name="result" type="s:double" />
  </wsdl:message>
  <wsdl:message name="verifyTransaction1SoapIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyTransaction1SoapOut">
    <wsdl:part name="result" type="s:double" />
  </wsdl:message>
  <wsdl:message name="reverseTransactionSoapIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reverseTransactionSoapOut">
    <wsdl:part name="result" type="s:double" />
  </wsdl:message>
  <wsdl:message name="reverseTransaction1SoapIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Amount" type="s:double" />
  </wsdl:message>
  <wsdl:message name="reverseTransaction1SoapOut">
    <wsdl:part name="result" type="s:double" />
  </wsdl:message>
  <wsdl:message name="quickVerifyTransactionSoapIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="quickVerifyTransactionSoapOut">
    <wsdl:part name="result" type="s:double" />
  </wsdl:message>
  <wsdl:message name="RequestTokenSoapIn">
    <wsdl:part name="TermID" type="s:string" />
    <wsdl:part name="ResNum" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:long" />
    <wsdl:part name="SegAmount1" type="s:long" />
    <wsdl:part name="SegAmount2" type="s:long" />
    <wsdl:part name="SegAmount3" type="s:long" />
    <wsdl:part name="SegAmount4" type="s:long" />
    <wsdl:part name="SegAmount5" type="s:long" />
    <wsdl:part name="SegAmount6" type="s:long" />
    <wsdl:part name="AdditionalData1" type="s:string" />
    <wsdl:part name="AdditionalData2" type="s:string" />
    <wsdl:part name="Wage" type="s:long" />
    <wsdl:part name="RedirectUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestTokenSoapOut">
    <wsdl:part name="result" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestMultiSettleTypeTokenSoapIn">
    <wsdl:part name="TermID" type="s:string" />
    <wsdl:part name="ResNum" type="s:string" />
    <wsdl:part name="Amounts" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:long" />
    <wsdl:part name="SegAmount1" type="s:long" />
    <wsdl:part name="SegAmount2" type="s:long" />
    <wsdl:part name="SegAmount3" type="s:long" />
    <wsdl:part name="SegAmount4" type="s:long" />
    <wsdl:part name="SegAmount5" type="s:long" />
    <wsdl:part name="SegAmount6" type="s:long" />
    <wsdl:part name="AdditionalData1" type="s:string" />
    <wsdl:part name="AdditionalData2" type="s:string" />
    <wsdl:part name="Wage" type="s:long" />
    <wsdl:part name="RedirectUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestMultiSettleTypeTokenSoapOut">
    <wsdl:part name="result" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyTransactionHttpGetIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyTransactionHttpGetOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="verifyTransaction1HttpGetIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyTransaction1HttpGetOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="reverseTransactionHttpGetIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reverseTransactionHttpGetOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="reverseTransaction1HttpGetIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Amount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reverseTransaction1HttpGetOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="quickVerifyTransactionHttpGetIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="quickVerifyTransactionHttpGetOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="RequestTokenHttpGetIn">
    <wsdl:part name="TermID" type="s:string" />
    <wsdl:part name="ResNum" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="SegAmount1" type="s:string" />
    <wsdl:part name="SegAmount2" type="s:string" />
    <wsdl:part name="SegAmount3" type="s:string" />
    <wsdl:part name="SegAmount4" type="s:string" />
    <wsdl:part name="SegAmount5" type="s:string" />
    <wsdl:part name="SegAmount6" type="s:string" />
    <wsdl:part name="AdditionalData1" type="s:string" />
    <wsdl:part name="AdditionalData2" type="s:string" />
    <wsdl:part name="Wage" type="s:string" />
    <wsdl:part name="RedirectUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestTokenHttpGetOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="RequestMultiSettleTypeTokenHttpGetIn">
    <wsdl:part name="TermID" type="s:string" />
    <wsdl:part name="ResNum" type="s:string" />
    <wsdl:part name="Amounts" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="SegAmount1" type="s:string" />
    <wsdl:part name="SegAmount2" type="s:string" />
    <wsdl:part name="SegAmount3" type="s:string" />
    <wsdl:part name="SegAmount4" type="s:string" />
    <wsdl:part name="SegAmount5" type="s:string" />
    <wsdl:part name="SegAmount6" type="s:string" />
    <wsdl:part name="AdditionalData1" type="s:string" />
    <wsdl:part name="AdditionalData2" type="s:string" />
    <wsdl:part name="Wage" type="s:string" />
    <wsdl:part name="RedirectUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestMultiSettleTypeTokenHttpGetOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="verifyTransactionHttpPostIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyTransactionHttpPostOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="verifyTransaction1HttpPostIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="verifyTransaction1HttpPostOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="reverseTransactionHttpPostIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reverseTransactionHttpPostOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="reverseTransaction1HttpPostIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Amount" type="s:string" />
  </wsdl:message>
  <wsdl:message name="reverseTransaction1HttpPostOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="quickVerifyTransactionHttpPostIn">
    <wsdl:part name="String_1" type="s:string" />
    <wsdl:part name="String_2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="quickVerifyTransactionHttpPostOut">
    <wsdl:part name="Body" element="s0:double" />
  </wsdl:message>
  <wsdl:message name="RequestTokenHttpPostIn">
    <wsdl:part name="TermID" type="s:string" />
    <wsdl:part name="ResNum" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="SegAmount1" type="s:string" />
    <wsdl:part name="SegAmount2" type="s:string" />
    <wsdl:part name="SegAmount3" type="s:string" />
    <wsdl:part name="SegAmount4" type="s:string" />
    <wsdl:part name="SegAmount5" type="s:string" />
    <wsdl:part name="SegAmount6" type="s:string" />
    <wsdl:part name="AdditionalData1" type="s:string" />
    <wsdl:part name="AdditionalData2" type="s:string" />
    <wsdl:part name="Wage" type="s:string" />
    <wsdl:part name="RedirectUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestTokenHttpPostOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:message name="RequestMultiSettleTypeTokenHttpPostIn">
    <wsdl:part name="TermID" type="s:string" />
    <wsdl:part name="ResNum" type="s:string" />
    <wsdl:part name="Amounts" type="s:string" />
    <wsdl:part name="TotalAmount" type="s:string" />
    <wsdl:part name="SegAmount1" type="s:string" />
    <wsdl:part name="SegAmount2" type="s:string" />
    <wsdl:part name="SegAmount3" type="s:string" />
    <wsdl:part name="SegAmount4" type="s:string" />
    <wsdl:part name="SegAmount5" type="s:string" />
    <wsdl:part name="SegAmount6" type="s:string" />
    <wsdl:part name="AdditionalData1" type="s:string" />
    <wsdl:part name="AdditionalData2" type="s:string" />
    <wsdl:part name="Wage" type="s:string" />
    <wsdl:part name="RedirectUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestMultiSettleTypeTokenHttpPostOut">
    <wsdl:part name="Body" element="s0:string" />
  </wsdl:message>
  <wsdl:portType name="PaymentIFBindingSoap">
    <wsdl:operation name="verifyTransaction">
      <wsdl:input message="tns:verifyTransactionSoapIn" />
      <wsdl:output message="tns:verifyTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyTransaction1">
      <wsdl:input message="tns:verifyTransaction1SoapIn" />
      <wsdl:output message="tns:verifyTransaction1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction">
      <wsdl:input message="tns:reverseTransactionSoapIn" />
      <wsdl:output message="tns:reverseTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction1">
      <wsdl:input message="tns:reverseTransaction1SoapIn" />
      <wsdl:output message="tns:reverseTransaction1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="quickVerifyTransaction">
      <wsdl:input message="tns:quickVerifyTransactionSoapIn" />
      <wsdl:output message="tns:quickVerifyTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestToken">
      <wsdl:input message="tns:RequestTokenSoapIn" />
      <wsdl:output message="tns:RequestTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestMultiSettleTypeToken">
      <wsdl:input message="tns:RequestMultiSettleTypeTokenSoapIn" />
      <wsdl:output message="tns:RequestMultiSettleTypeTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentIFBindingHttpGet">
    <wsdl:operation name="verifyTransaction">
      <wsdl:input message="tns:verifyTransactionHttpGetIn" />
      <wsdl:output message="tns:verifyTransactionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyTransaction1">
      <wsdl:input message="tns:verifyTransaction1HttpGetIn" />
      <wsdl:output message="tns:verifyTransaction1HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction">
      <wsdl:input message="tns:reverseTransactionHttpGetIn" />
      <wsdl:output message="tns:reverseTransactionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction1">
      <wsdl:input message="tns:reverseTransaction1HttpGetIn" />
      <wsdl:output message="tns:reverseTransaction1HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="quickVerifyTransaction">
      <wsdl:input message="tns:quickVerifyTransactionHttpGetIn" />
      <wsdl:output message="tns:quickVerifyTransactionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestToken">
      <wsdl:input message="tns:RequestTokenHttpGetIn" />
      <wsdl:output message="tns:RequestTokenHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestMultiSettleTypeToken">
      <wsdl:input message="tns:RequestMultiSettleTypeTokenHttpGetIn" />
      <wsdl:output message="tns:RequestMultiSettleTypeTokenHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PaymentIFBindingHttpPost">
    <wsdl:operation name="verifyTransaction">
      <wsdl:input message="tns:verifyTransactionHttpPostIn" />
      <wsdl:output message="tns:verifyTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyTransaction1">
      <wsdl:input message="tns:verifyTransaction1HttpPostIn" />
      <wsdl:output message="tns:verifyTransaction1HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction">
      <wsdl:input message="tns:reverseTransactionHttpPostIn" />
      <wsdl:output message="tns:reverseTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction1">
      <wsdl:input message="tns:reverseTransaction1HttpPostIn" />
      <wsdl:output message="tns:reverseTransaction1HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="quickVerifyTransaction">
      <wsdl:input message="tns:quickVerifyTransactionHttpPostIn" />
      <wsdl:output message="tns:quickVerifyTransactionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestToken">
      <wsdl:input message="tns:RequestTokenHttpPostIn" />
      <wsdl:output message="tns:RequestTokenHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestMultiSettleTypeToken">
      <wsdl:input message="tns:RequestMultiSettleTypeTokenHttpPostIn" />
      <wsdl:output message="tns:RequestMultiSettleTypeTokenHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentIFBindingSoap" type="tns:PaymentIFBindingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="verifyTransaction">
      <soap:operation soapAction="verifyTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyTransaction1">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction">
      <soap:operation soapAction="reverseTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction1">
      <soap:operation soapAction="reverseTransaction1" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="quickVerifyTransaction">
      <soap:operation soapAction="quickVerifyTransaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestToken">
      <soap:operation soapAction="RequestToken" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMultiSettleTypeToken">
      <soap:operation soapAction="RequestMultiSettleTypeToken" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:Foo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentIFBindingSoap12" type="tns:PaymentIFBindingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="verifyTransaction">
      <soap12:operation soapAction="verifyTransaction" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyTransaction1">
      <soap12:operation soapAction="" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction">
      <soap12:operation soapAction="reverseTransaction" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction1">
      <soap12:operation soapAction="reverseTransaction1" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="quickVerifyTransaction">
      <soap12:operation soapAction="quickVerifyTransaction" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestToken">
      <soap12:operation soapAction="RequestToken" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMultiSettleTypeToken">
      <soap12:operation soapAction="RequestMultiSettleTypeToken" style="rpc" />
      <wsdl:input>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="encoded" namespace="urn:Foo" encodingStyle="http://www.w3.org/2003/05/soap-encoding" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentIFBindingHttpGet" type="tns:PaymentIFBindingHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="verifyTransaction">
      <http:operation location="/verifyTransaction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyTransaction1">
      <http:operation location="/verifyTransaction1" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction">
      <http:operation location="/reverseTransaction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction1">
      <http:operation location="/reverseTransaction1" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="quickVerifyTransaction">
      <http:operation location="/quickVerifyTransaction" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestToken">
      <http:operation location="/RequestToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMultiSettleTypeToken">
      <http:operation location="/RequestMultiSettleTypeToken" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentIFBindingHttpPost" type="tns:PaymentIFBindingHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="verifyTransaction">
      <http:operation location="/verifyTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyTransaction1">
      <http:operation location="/verifyTransaction1" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction">
      <http:operation location="/reverseTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverseTransaction1">
      <http:operation location="/reverseTransaction1" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="quickVerifyTransaction">
      <http:operation location="/quickVerifyTransaction" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestToken">
      <http:operation location="/RequestToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestMultiSettleTypeToken">
      <http:operation location="/RequestMultiSettleTypeToken" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentIFBinding">
    <wsdl:port name="PaymentIFBindingSoap" binding="tns:PaymentIFBindingSoap">
      <soap:address location="https://sep.shaparak.ir/payments/referencepayment.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentIFBindingSoap12" binding="tns:PaymentIFBindingSoap12">
      <soap12:address location="https://sep.shaparak.ir/payments/referencepayment.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentIFBindingHttpGet" binding="tns:PaymentIFBindingHttpGet">
      <http:address location="https://sep.shaparak.ir/payments/referencepayment.asmx" />
    </wsdl:port>
    <wsdl:port name="PaymentIFBindingHttpPost" binding="tns:PaymentIFBindingHttpPost">
      <http:address location="https://sep.shaparak.ir/payments/referencepayment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>